.bottom {
    background: #0202027d;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom--left {
    grid-area: leftBottom;
}

.bottom.bottom--right {
    grid-area: rightBottom;
}

.play-btn {
    flex: 1;
    width: 60px;
    height: 60px;
}

.play-btn > button {
    border-radius: 19px;
    width: 57px;
    height: 57px;
}
