.bottom {
    background: #0202027d;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.bottom--left {
    grid-area: leftBottom;
}

.bottom.bottom--right {
    grid-area: rightBottom;
}

.play-btn {
    flex: 1;
}

.play-btn > button {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 3px solid darkgray;
    background: #2b2b2b;
}

.play-btn svg {
    padding-left: 7px;
}
